<head>
    <link rel="stylesheet" href="~/css/Home/privacy.css" />
</head>
<div class="box">
    <div>
        <h1 style="text-align:center">About Us</h1>
    </div>
    <div class="banner">
        <img class="bannervip" src="/img/image-1.png" alt="Banner đỉnh cao không hiện được =))" title="Banner đỉnh cao vippro"></img>
    </div>
    <div class="content">
        <div class="content-1">
            <div class="content-1-1">
                <h3 style="color:darkslateblue">Về Hotel</h3><br />
            
            <p>Về Hotel</p>
            <p>Câu chuyện Hotel</p>
            <p>Bước phát triển</p>
            <p>Hoạt động</p>
            <p>Liên hệ</p>
            </div>
            <div class="content-1-2">
                <h3 style="color:darkblue">Thông tin</h3><br />
            
            <p>Trạng thái</p>
            <p>Hình thức</p>
            <p>Hướng dẫn</p>
            <p>Chính sách</p>
            <p>Bảo hành</p>
            </div>
            <div class="content-1-3">
            <h3 style="color:darkcyan">Trợ giúp</h3><br />
        
        <p>Tuyển dụng</p>
        <p>Hệ thống</p>
        <p>Hợp tác</p>
        <p>Q&A</p>
            </div>
        </div>
        <div class="content-2">
            <h3 style="color:darkred">Công ty TNHH 3 thành viên TuDaNa</h3><br />

            <p>Địa Chỉ: Kim Đồng, Giáp Bát, Hà Nội</p>
            <p>Số Điện Thoại: 0987123654</p>
            <p>Email: chamsockhachhang@gmail.com</p>
            <p>Hotline: (024)30987655</p>
            <p>Thời gian tư vấn: 8h-21h các ngày trong tuần (Trừ thứ 7, Chủ nhật và các ngày lễ)</p>
        </div>
    </div>
</div>