@model HotelBooking.Models.TblDatphong

@{
    ViewData["Title"] = "Create";
}
@{
    var idPhongValue = ViewBag.IdPhongvalue != null ? ViewBag.IdPhongvalue : 0;
}
<h1>Create</h1>

<h4>TblDatphong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class ="form-control" asp-items="ViewBag.IdUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPhong" class="control-label"></label>
                <select asp-for="IdPhong" class="form-control" asp-items="ViewBag.IdPhong"></select>
            </div>
            <div class="form-group">
                <label asp-for="DNgaycheckin" class="control-label"></label>
                <input asp-for="DNgaycheckin" class="form-control" />
                <span asp-validation-for="DNgaycheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNgaycheckout" class="control-label"></label>
                <input asp-for="DNgaycheckout" class="form-control" />
                <span asp-validation-for="DNgaycheckout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SHinhthucthanhtoan" class="control-label"></label>
                <input asp-for="SHinhthucthanhtoan" class="form-control" />
                <span asp-validation-for="SHinhthucthanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
