@model HotelBooking.Models.TblDanhGium

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblDanhGium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDanhgia" />
            <div class="form-group">
                <label asp-for="IdKhachsan" class="control-label"></label>
                <select asp-for="IdKhachsan" class="form-control" asp-items="ViewBag.IdKhachsan"></select>
                <span asp-validation-for="IdKhachsan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKhachhang" class="control-label"></label>
                <select asp-for="IdKhachhang" class="form-control" asp-items="ViewBag.IdKhachhang"></select>
                <span asp-validation-for="IdKhachhang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISosaodanhgia" class="control-label"></label>
                <input asp-for="ISosaodanhgia" class="form-control" />
                <span asp-validation-for="ISosaodanhgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SNoidung" class="control-label"></label>
                <input asp-for="SNoidung" class="form-control" />
                <span asp-validation-for="SNoidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
