@model HotelBooking.Models.TblPhong

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm Phòng</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdKhachsan" class="form-control" readonly value="@ViewBag.idkhachsan" />
            <div class="form-group">
                <label asp-for="SKieuPhong" class="control-label">Kiểu Phòng</label>
                <input asp-for="SKieuPhong" class="form-control" />
                <span asp-validation-for="SKieuPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FGiaphong" class="control-label">Giá Phòng</label>
                <input asp-for="FGiaphong" class="form-control" />
                <span asp-validation-for="FGiaphong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SMotaphong" class="control-label">Mô Tả Phòng</label>
                <input asp-for="SMotaphong" class="form-control" />
                <span asp-validation-for="SMotaphong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STiennghi" class="control-label">Tiện Nghi</label>
                <input asp-for="STiennghi" class="form-control" />
                <span asp-validation-for="STiennghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SAnhphong" class="control-label">Ảnh Phòng</label>
                <input asp-for="SAnhphong" class="form-control" />
                <span asp-validation-for="SAnhphong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
